# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Production
build/
dist/

# Misc
.DS_Store


# Typescript cache
*.tsbuildinfo

# Optional cache
.cache



*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite

# Vite
.vite

# Metrics
data/metrics
data/audio/tmp