/* Ajusta o espaçamento entre parágrafos e listas dentro do bubble do chat */
.chat-markdown > p,
.chat-markdown > ul,
.chat-markdown > ol {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.chat-markdown ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
  padding-left: 0;
  margin-bottom: 2.25em;
}

.chat-markdown ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 1.5em;
  padding-left: 0;
  margin-bottom: 2.25em;
}

.chat-markdown li {
  margin-bottom: 1.15em;
}

.chat-markdown p {
  margin-bottom: 1em;
}

/* Loading spinner animation */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}
@keyframes dot-flashing {
  0% {
    opacity: 0.3;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0);
  }
}
